<div id="primary" class="sidebar-right clearfix">
    <div class="ht-container">
        <section id="content" role="main">
            <header id="page-header" class="clearfix"><h1 class="page-title">{{question.title}}</h1>
                <div id="breadcrumbs"><a href="{{#if lang}}/{{lang}}{{/if}}/">
                    <icon class="fa fa-home"></icon>
                </a><span class="sep">/</span>
                    {{#each breadcrumbs}}
                        <a href="{{link}}">{{name}}</a>
                        <span class="sep">/</span>
                    {{/each}}

                    {{question.title}}
                </div>
            </header>


            <ul class="entry-meta clearfix">
                <li class="date" style="text-transform: capitalize;"><i class="fa fa-time"></i>
                    <time datetime="{{date_year question.updated }}">{{question.date}}</time>
                </li>
                <li class="author"><i class="fa fa-user"></i> Admin</li>

                <li class="comments"><i class="fa fa-comment"></i> <a
                        href="#disqus_thread">0 Comments </a>
                </li>
            </ul>

            <div class="entry-content">
                {{{question.contents}}}
            </div>
            <div>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bottom_interview -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7240156011300980"
                     data-ad-slot="2669814657"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div>
                <div id="disqus_thread"></div>
            </div>

        </section>
        <aside id="sidebar" role="complementary">
            <div class="widget widget_categories widget_quizes clearfix">
                <div class="row">
                    <h4>{{translations.share}}</h4>
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{canonical_link}}"
                         data-a2a-title="{{question.title}}">
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_telegram"></a>
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    </div>
                </div>
            </div>
            {{#if quizzes}}
                <div class="widget widget_categories widget_quizes clearfix">
                    <div class="row">
                        <h3>{{translations.quizAdHeading}} </h3>
                        <p>{{translations.quizAdBody}} 👨‍💻</p>
                        {{#each quizzes}}
                            <a href="/{{../lang}}/quiz/{{slug}}"><b>👉 {{title}} </b><i
                                    class="fa fa-external-link-square"></i></a>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- sidebar_interview -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7240156011300980"
                 data-ad-slot="7291585945"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </aside>
    </div>
</div>

<script async>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    var disqus_config = function () {
        this.page.url = '{{canonical_link}}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{question._id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () {

        // DON'T EDIT BELOW THIS LINE

        var d = document, s = d.createElement('script');
        s.src = 'https://interviewhelper.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

<script async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>
    window.onload = function (event) {
        document.querySelectorAll('#content pre').forEach((block) => {
            hljs.highlightBlock(block);
        });
    };
</script>
